<h1>Багетка</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Багетка!</h1>
    <p>hi</p>


    <%= link_to "Start now", "#", class: "btn btn-gradient" %>
  </div>
</div>
<%= link_to "Start now", "#", class: "btn btn-gradient" %>

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Контакты</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Скидки и акции</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Картины на заказ</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Прмеры наших работ</a> 
  </li>
</ul>